:root {
  --logo-basic-color: #000000;
  --color-first: #ffffff; /*color for tag h1 and text in button in header*/
  --color-second: #212121; /*color for section headers*/
  --color-third: #757575; /*color for tag p in other sections in files index and portfolio*/
  --color-four: #2196f3; /*color for span logo and hover*/
  --bg-header: #2f303a;
  --bg-our-team: #f5f4fa; /*color for section our team and buttons in portfolio*/
  --bg-footer: #2f303a;
  --border-project-color: #eeeeee;
  --primary-fonts: "Roboto", sans-serif;
  --logo-fonts: "Raleway", sans-serif;
}
body {
  font-family: var(--primary-fonts);
  color: var(--color-third);
}
/*main menu and contact in header and contact in footer*/
.header__menu-item,
.header__menu-link,
.header__contact-item,
.header__contact-link,
.footer__contact-link,
.header__logo,
.footer__logo {
  text-decoration: none;
  list-style: none;
}

.header__logo,
.footer__logo {
  font-family: var(--logo-fonts);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  color: var(--logo-basic-color);
}

.logo__primary-part {
  color: var(--color-four);
  text-transform: capitalize;
}

.header__menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--color-second);
  text-transform: capitalize;
}

.header__menu-link:hover,
.header__menu-link:focus,
.header__contact-link:hover,
.header__contact-link:focus,
.footer__contact-item .footer__contact-link:hover,
.footer__contact-item .footer__contact-link:focus {
  color: var(--color-four);
}

.header__contact-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--color-third);
}

/*heading and button w section header*/
.heading {
  text-align: center;
  background-color: var(--bg-header);
}

.heading__main {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--color-first);
}

.heading__button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  color: var(--color-first);
  background: var(--color-four);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
.heading__button::first-letter {
  text-transform: uppercase;
}

.heading__button:hover {
  cursor: pointer;
}
/*our strengths section*/
.list-block__item,
.photos-work__item,
.team__card-item {
  list-style: none;
}

.list-block__heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--color-second);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-block__paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.secondary-heading,
.team__secondary-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-second);
}

.secondary-heading::first-letter,
.team__secondary-heading::first-letter {
  text-transform: uppercase;
}

/*our team section*/
.team {
  background-color: var(--bg-our-team);
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--color-second);
}

.team__subtitle {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--color-third);
}
/*footer*/
.footer {
  background-color: var(--bg-footer);
}

.footer__logo,
.footer__contact-link,
.footer__contact-item .footer__contact-link-location {
  color: var(--color-first);
}

.footer__contact-link,
.footer__contact-item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  list-style: none;
  color: var(--color-third);
}
.location {
  text-transform: capitalize;
}

/*portfolio.html*/
/*filter buttons*/
.filters__item,
.card {
  list-style: none;
}

.filters__button {
  width: 93px;
  height: 38px;
  background-color: var(--bg-our-team);
  text-transform: capitalize;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--color-second);
}

.filters__button:hover,
.filters__button:focus {
  color: var(--color-first);
  background-color: var(--color-four);
  cursor: pointer;
}
/*cards of projects*/
.card__img {
  border: 1px solid var(--border-project-color);
}
.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: var(--color-second);

  letter-spacing: 0.06em;
}

.card__subtitle {
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-third);
}

.card__title::first-letter,
.card__subtitle::first-letter {
  text-transform: capitalize;
}
