:root {
    --color-blue: #2196F3;
    --first-color: #212121;
    --secon-color: #757575;
    --bg-out-team: #F5F4FA;
    --bg-btn-portfolio: #EEEEEE;
    --bg-header: #ECECEC;
    --bg-footer: #2F303A;
}
body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}